[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
